body {
    font-family: Times New Roman;
    background-color: cream;
    font-color: pink;
    font-size: 24px;
}
    img {
    	width:400px;
    	height:600px;
    }
h1{
	font-family: Times New Roman;
	font-color: pink;
    font-size: 24px;
}
p{
	font-family: Times New Roman;
	font-color: pink;
    font-size: 24px;

}